<a href="https://colab.research.google.com/github/s1w4e/ML/blob/main/ML_ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort() #sorts the elements in ages
min_age=min(ages) #gives the minimum value in the list ages
max_age=max(ages) #gives the maximum value in the list ages
print("sorted list:",ages) #prints the sorted list
print("Minimum Age:",min_age) #prints minimum value
print("Maximum Age:",max_age) #prints maximum value

sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [ ]:
#Add the min age and the max age again to the list
ages.append(min_age) #adds minimum value again at the end of list
ages.append(max_age) #adds max value again at the end of list
print(ages)
len(ages) #gives length of list

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

12

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
import statistics
print(statistics.median(ages)) #statistics.median() method calculates median

24.0

In [ ]:
#Find the average age (sum of all items divided by their number)
avg=sum(ages)/len(ages)
print(avg)

22.75

In [ ]:
#Find the range of the ages (max minus min)
range=max(ages)-min(ages)
range

7

In [ ]:
#Create an empty dictionary called dog
dog={}

In [ ]:
#Add name, color, breed, legs, age to the dog dictionary
dog={"name": "cameo","color":"brown","breed":"lab","legs":"4","age":"4"}

In [ ]:
#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student={"first_name":"srav","last_name":"singh","gender":"Female","age":"20","marital_status":"single","skills":["python","c","java","SQL"],"country":"USA","city":"New York","address":"456 ter"}

In [ ]:
#Get the length of the student dictionary
len(student)

9

In [ ]:
#Get the value of skills and check the data type, it should be a list
skills_value=student["skills"]
skills_type=type(skills_value)
print(skills_value)
print(skills_type)

['python', 'c', 'java', 'SQL']
<class 'list'>

In [ ]:
#Modify the skills values by adding one or two skills
student["skills"].extend(["c++","javascript"])
print(skills_value)

['python', 'c', 'java', 'SQL', 'c++', 'javascript']

In [ ]:
#Get the dictionary keys as a list
student_keys=list(student.keys())
student_keys

['first_name',
 'last_name',
 'gender',
 'age',
 'marital_status',
 'skills',
 'country',
 'city',
 'address']

In [ ]:
#Get the dictionary values as a list
student_values=list(student.values())
student_values

['srav',
 'singh',
 'Female',
 '20',
 'single',
 ['python', 'c', 'java', 'SQL', 'c++', 'javascript'],
 'USA',
 'New York',
 '456 ter']

In [ ]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brotuple=("sri","sai","ram")
sistuple=("yam","divya","navya")
print(brotuple)
print(sistuple)

('sri', 'sai', 'ram')
('yam', 'divya', 'navya')

In [ ]:
#Join brothers and sisters tuples and assign it to siblings
siblings=brotuple+sistuple
print(siblings)

('sri', 'sai', 'ram', 'yam', 'divya', 'navya')

In [ ]:
#How many siblings do you have?
len(siblings)

6

In [ ]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
parentstuple=("chowdary","Ani")
family_members=parentstuple+siblings
family_members

('chowdary', 'Ani', 'sri', 'sai', 'ram', 'yam', 'divya', 'navya')

In [ ]:
# Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [ ]:
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [ ]:
#Insert multiple IT companies at once to the set it_companies
it_companies.update(["meta", "LinkedIn", "Yahoo"])
print(it_companies)

{'LinkedIn', 'Amazon', 'Oracle', 'Apple', 'Google', 'Yahoo', 'IBM', 'Microsoft', 'Twitter', 'meta', 'Facebook'}

In [ ]:
#Remove one of the companies from the set it_companies
it_companies.remove('Amazon')
print(it_companies)

{'LinkedIn', 'Oracle', 'Apple', 'Google', 'Yahoo', 'IBM', 'Microsoft', 'Twitter', 'meta', 'Facebook'}

In [ ]:
#What is the difference between remove and discard
# remove():Gives error if element is not present
# discard():Does not give any error if element is not present

In [ ]:
#EXAMPLE
it_companies.discard('Snap')
print(it_companies)

{'LinkedIn', 'Amazon', 'Oracle', 'Apple', 'Google', 'Yahoo', 'IBM', 'Microsoft', 'Twitter', 'meta', 'Facebook'}

In [ ]:
#Join A and B
union=A.union(B)
union

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#Find A intersection B
intersection=A.intersection(B)
intersection

{19, 20, 22, 24, 25, 26}

In [ ]:
#Is A subset of B
subset=A.issubset(B)
subset

True

In [ ]:
#Are A and B disjoint sets
disjoint=A.isdisjoint(B)
disjoint

False

In [ ]:
#Join A with B and B with A
A.update(B)
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
B.update(A)
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#What is the symmetric difference between A and B
symmetric_difference=A.symmetric_difference(B)
symmetric_difference

{27, 28}

In [ ]:
#Delete the sets completely
del A
del B

In [ ]:
#Convert the ages to a set and compare the length of the list and the set.
age = [22, 19, 24, 25, 26, 24, 25, 24]
ageset=set(age)
print(len(age))
print(len(ageset))

8
5

In [ ]:
#Calculate the area of a circle and assign the value to a variable name of area_of_circle
radius=30
area_of_circle=3.14*radius*radius
area_of_circle

In [ ]:
#Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
circum_of_circle=2*3.14*radius
circum_of_circle

62.800000000000004

In [ ]:
#Take radius as user input and calculate the area.
import math
radius=float(input("enter radius:"))
area=math.pi * radius ** 2
area

enter radius:5

78.53981633974483

In [ ]:
#How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people"
words=sentence.split()
unique_words=set(words)
number_unique_words=len(unique_words)
number_unique_words

10

In [ ]:
#Use a tab escape sequence to get the following lines. Name Age Country City Asabeneh 250 Finland Helsinki
print("Name\tAge\tCountry\tCity")
print("Asabenesh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabenesh	250	Finland	Helsinki

In [ ]:
#Use the string formatting method to display the following: radius = 10 area = 3.14 * radius ** 2 “The area of a circle with radius 10 is 314 meters square.”
radius = 10
area = 3.14 * radius ** 2
result =f"The area of a circle with radius {radius} is {area} meters square."
result

'The area of a circle with radius 10 is 314.0 meters square.'

In [ ]:
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]
# Read the number of students from user
n = int(input("Enter the number of students: "))
# Initialize an empty list for weights in pounds
weights_lbs = []
# Use a while loop to read and append elements to the list
i = 0
while i < n:
    weight_lbs = int(input(f"Enter element {i+1} (in pounds): "))
    weights_lbs.append(weight_lbs)
    i += 1
# Convert weights from pounds to kilograms and round to 2 decimal places
weights_kg = []
i = 0
while i < len(weights_lbs):
    weight_kg = round(weights_lbs[i] * 0.453592, 2)
    weights_kg.append(weight_kg)
    i += 1
# Print the weights in kilograms
print("Weights in kilograms:",weights_kg)

Enter the number of students: 4
Enter element 1 (in pounds): 20
Enter element 2 (in pounds): 30
Enter element 3 (in pounds): 40
Enter element 4 (in pounds): 50
Weights in kilograms: [9.07, 13.61, 18.14, 22.68]